
{% extends '../base.html' %}

{% block header_text %}Reset Password{% endblock %}

{% block page_content %}
	<form action="{% url 'accounts_reset_password' %}" method="post" id="id_loginForm">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<input name="password" id="id_password1" type="text" class="form-control" placeholder="Enter your new password" />
				<input name="password2" id="id_password2" type="text" class="form-control" placeholder="Confirm your new password" />
				<button type="submit" class="btn btn-primary">Send</button>

			</div>
		</div>
		<input type="hidden" name="token" value="{{ token }}">
		{% csrf_token %}
	</form>
{% endblock %}