
{% extends '../base.html' %}

{% block header_text %}Reset Password{% endblock %}

{% block page_content %}
	<form action="{% url 'accounts_reset_password' %}" method="post" id="id_loginForm">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<input name="username" id="id_username" type="text" class="form-control" placeholder="Enter your username" />
				<button id="id_reset_password" type="submit" class="btn btn-primary">Send</button>
			</div>
		</div>
		{% csrf_token %}
	</form>
{% endblock %}