
{% extends '../base.html' %}

{% block title_text %}Leawood{% endblock %}

{% block header_text %}Dashboard{% endblock %}

{% block page_content %}
	<div class="col-md-10 offset-md-1">
		{% block searchpanel %}
			{% include "searchpanel.html" %}
		{% endblock %}
	</div>
	<div class="row">
		<div class="col-md-10 offset-md-1 text-left">
			<h2>Devices</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 offset-md-1">
			<table id="id_device_table">
				<tr><td>Solar Cell Charger</td></tr>
			</table>
		</div>
	</div>
{% endblock %}
