
{% extends '../base.html' %}

{% block header_text %}Dashboard{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<input type="text" id="id_search_filter" placeholder="device filter" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 offset-md-1 text-left">
			<h2>Devices</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<table id="id_device_table">
				<tr><td>Solar Cell Charger</td></tr>
			</table>
		</div>
	</div>
{% endblock %}
