<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content=" IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Leawood</title>
		<!-- link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" -->		
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/base.css">
	</head>
	<body>
		<nav class="navbar  navbar-expand-md navbar-dark bg-dark">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#leawood-navbar">
				<span class="navbar-toggler-icon"></span>
			</button> 

			<div class="collapse navbar-collapse" id="leawood-navbar">
				<a class="navbar-brand" href="#">Leawood</a>
  				<ul class="navbar-nav mr-auto">
    				<li class="nav-item active"><a  class="nav-link" href="#">Dashboard</a></li>
    				<li class="nav-item"><a  class="nav-link" href="#">Page A</a></li>
    				<li class="nav-item"><a  class="nav-link" href="#">Page B</a></li>
    				<li class="dropdown">
    					<a href="#" class="nav-link dropdown-toggle" 
    					   data-toggle="dropdown">Page C <b class="caret"></b></a>
      					<ul class="dropdown-menu">
							<a class="dropdown-item" href="#">Page C - 1</a>
							<a class="dropdown-item" href="#">Page C - 2</a>
							<a class="dropdown-item" href="#">Page C - 3</a>        
						</ul>        
    				</li>
  				</ul>
  				{% if user.is_authenticated %}
					<ul class="nav navbar-nav">
						<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" ><span class="glyphicon glyphicon-log-in"></span>Sign off</a></li>
					</ul>
  				{% else %}
					<ul class="nav navbar-nav">
						<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#id_registerModal"><span class="glyphicon glyphicon-log-in"></span>Register</a></li>
						<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#id_loginModal"><span class="glyphicon glyphicon-log-in"></span>Sign in</a></li>
					</ul>
				{% endif %}
  			</div>
 		</nav>

		<div class="conatiner">
			<div class=row>
				<div class="col-md-10 offset-md-1" id="id_messages" >
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 offset-md-1 jumbotron text-center">
					<h1>{% block header_text %}{% endblock %}</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 offset-md-1">
					<input type="text" id="id_search_filter" placeholder="device filter" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 offset-md-1 text-left">
					<h2>Devices</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<table id="id_device_table">
						<tr><td>Solar Cell Charger</td></tr>
					</table>
				</div>
			</div>
		</div>

		<form action="#" method="post" id="id_loginForm">
			<div class="modal fade" id="id_loginModal" tabindex="-1" aria-hidden="true" style="display: none;">
  				<div class="modal-dialog modal-sm">
    				<div class="modal-content">
      					<div class="modal-header">
        					<h4 class="modal-title" id="loginModalLabel">Sign in</h4>
        					<button id="id_login_dismiss" type="button" class="close" data-dismiss="modal">&times;</button>
      					</div>
      					<div class="modal-body">
							<div class="form-group" id="inputUserIDFormGroup">				
								<label class="control-label" for="id_user_name">User ID</label>				
    							<input type="text" class="form-control" name="username" id="id_user_name" placeholder="Enter your user ID">    			
							</div>
							<div class="form-group" id="inputPasswordFormGroup">				
								<label class="control-label" for="id_password">Password</label>				
    							<input type="password" class="form-control" name="password" id="id_password" placeholder="Enter your password">    			
							</div>
      					</div>
      					<div class="modal-footer">
       	 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        					<button type="submit" class="btn btn-primary">Login</button>
      					</div>
    				</div>
  				</div>
			</div>
			{% csrf_token %}

		</form>	

		<form action="accounts/register" method="post" id="id_registerForm">
			<div class="modal fade" id="id_registerModal" tabindex="-1" aria-hidden="true" style="display: none;">
  				<div class="modal-dialog modal-sm">
    				<div class="modal-content">
      					<div class="modal-header">
        					<h4 class="modal-title" id="registerModalLabel">Register</h4>
        					<button id="id_login_dismiss" type="button" class="close" data-dismiss="modal">&times;</button>
      					</div>
      					<div class="modal-body">
      						{{ registration_form.as_p }}
							<!-- div class="form-group" id="inputRegisterUserIDFormGroup">				
								<label class="control-label" for="id_user_name">User ID</label>				
    							<input type="text" class="form-control" name="username" id="id_user_name_register" placeholder="Enter your user ID">    			
							</div>
							<div class="form-group" id="inputPregisterPasswordFormGroup">				
								<label class="control-label" for="id_password_register">Password</label>				
    							<input type="password" class="form-control" name="password" id="id_password1_register" placeholder="Enter your password">    			
							</div>
							<div class="form-group" id="inputPregisterPassword2FormGroup">				
    							<input type="password" class="form-control" name="password2" id="id_password2_register" placeholder="Confirm your password">    			
							</div -->
      					</div>
      					<div class="modal-footer">
       	 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        					<button type="submit" class="btn btn-primary">Register</button>
      					</div>
    				</div>
  				</div>
			</div>
			{% csrf_token %}
		</form>	

		<!-- script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script -->

		<!-- Bootstrap 4! -->
	    <script src="/static/jquery-3.3.1.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    	<script src="/static/dasjboard.js"></script>

	</body>
    <script>

		$(document).ready(function () {
		  window.Dashboard.initialize();
		});    

		$('#id_loginModal').on('shown.bs.modal', function () {
  			$('#id_user_name').trigger('focus')
		})
	</script>	


</html>